<link rel="stylesheet" href="../../static/css/myProduct.css">
<link rel="stylesheet" href="../../static/css/a_tag.css">
<script src="../../static/js/showMyProduct.js"></script>
<!------ Include the above in your HEAD tag ---------->
<ol class="breadcrumb" style="margin-top:100px;">
    <li class="breadcrumb-item active">
        판매 내역 정보
    </li>
</ol>	

   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">상품</th>
      <th scope="col">판매자</th>
      <th scope="col">거래방식</th>
      <th scope="col">거래요청시간</th>
      <th scope="col">현재상태</th>
      <th scope="col">완료 / 취소</th>
    </tr>
  </thead>
  <tbody>
    {{#each trans}}
    <tr>
      <input type="hidden" name="" class="deliveryCompany" value="{{deliveryCompany}}">
      <input type="hidden" name="" class="deliveryInvoice" value="{{deliveryInvoice}}">
      <input type="hidden" name="" class="transactionInfoKey" value="{{key}}">
      <th scope="row">{{@index}}</th>
      <td><img src="{{item.itemContentsPic}}" class="rounded" alt="" width="50px;" height="50px;">{{item.itemName}}</td>
      <td class="buyer chatting" style="cursor:pointer;"><h4>{{seller}}</h4></td>
	    <td class="transactionMode">{{transactionMode}}</td>
      <td class="startDateTime"><h4>{{startDateTime}}</h4></td>
      <td class="transactionState">{{transactionState}}</td>
      <td class="transactionToServer">
          <button type="button" class="btn btn-primary transactionComplete" >거래 완료</button>
          <button type="button" class="btn btn-danger transactionCancel">거래 취소</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>


<script src="../../static/js/member/myBuyProduct.js"></script>