<link rel="stylesheet" href="../../static/css/myProduct.css">
<link rel="stylesheet" href="../../static/css/a_tag.css">
<script src="../../static/js/member/myBuyProduct.js"></script>
<!------ Include the above in your HEAD tag ---------->
<ol class="breadcrumb" style="margin-top:100px;">
    <li class="breadcrumb-item active">
        구매 내역 정보
    </li>
</ol>	
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">상품</th>
      <th scope="col">판매자</th>
      <th scope="col">거래방식</th>
      <th scope="col">등록시간</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td><img src="{{itemContentsPic}}" class="rounded" alt="" width="50px;" height="50px;">{{itemName}}</td>
      <td>root</td>
	    <td><input type="hidden" name="" value="{{transactionMode}}"></td>
      <td>{{registDateTime}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
