<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>배송 조회</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    {{> invoiceHeader}}
<table class="table table-bordered" style="margin-top : 20px;">
  <thead>
    <tr>
      <th scope="col">택배 회사</th>
      <th scope="col">받는 사람</th>
      <th scope="col">보낸 사람</th>
    </tr>
  </thead>
  <tbody>
        <tr>
            <th scope="row">{{companyName}}</th>
            <td>{{receiverName}}</td>
            <td>{{senderName}}</td>
        </tr>
  </tbody>
</table> 


<table class="table table-bordered" style="margin-top : 20px;">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">위치</th>
      <th scope="col">전화번호</th>
      <th scope="col">상태</th>
    </tr>
  </thead>
  <tbody>
      {{#each history}}
        <tr>
            <th scope="row">{{@index}}</th>
            <td>{{location}}</td>
            <td>{{tel}}</td>
            <td>{{remark}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>    
  {{> footer}}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

