<link rel="stylesheet" href="../../static/css/myProduct.css">
<link rel="stylesheet" href="../../static/css/a_tag.css">
<script src="../../static/js/showMyProduct.js"></script>
<!------ Include the above in your HEAD tag ---------->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">
        판매 내역 정보
    </li>
    <li class="breadcrumb-item">>전체</li>
    <li class="breadcrumb-item">판매 중</li>
    <li class="breadcrumb-item">판매 완료</li>
</ol>	

    <div class="row">
		{{#each items}}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <input type="hidden" name="" value="{{sellState}}">
            <a href="/myPage/showMySellProduct/{{key}}">
			<div class="offer offer-radius">
				<div class="shape">
					<div class="shape-text">
					</div>
				</div>
				<div class="offer-content">
					<h3 class="lead">
						<img src="{{itemPic}}" alt="" sizes="200px;" srcset="">
					</h3>						
					<p>
						{{itemName}}
					</p>
					<p>
						{{itemPrice}}
					</p>
				</div>
			</div>
            </a>
		</div>
		{{/each}}
	</div>
